* {
    font-family: 'Roboto';
}
 /* variveis*/

:root {
    --cor-rosa : rgb(233, 208, 195);
    --text-cor : rgb(50, 50, 50);
}

.container {
    max-width: 1200px;
    padding: 0 2%;
    margin: 0 auto;
}

/* ----- */
.header, .header-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(235, 235, 235, 0.5);
    padding: 0 2%;
    z-index: 99;
}

.header-two {
    background-color: rgb(233, 208, 195);
}

.button_carrinho {
    width: 65px;
    height: 65px;
    border: 6px solid #EEEEEE;
    background-color: #D8BCAD;
    position: relative;
    top: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button_carrinho:hover > svg {
    transform: scale(1.04);
    animation: carrinhoAnimation 1s ease forwards;
}

.button_carrinho--alert {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: #EEEEEE;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    box-shadow: 1px 1px 5px 1px rgb(90, 90, 90);
}

@keyframes carrinhoAnimation {
    0% {
        rotate: -10deg;
    }

    50% {
        rotate: -20deg;
    }

    100% {
        rotate: 0deg;
    }
}

.header--nav ul {
    display: flex;
}

.header--nav li {
    padding-right: 20px;
}
.header--nav li:nth-of-type(2) {
    border-left: 1px solid rgb(50, 50, 50);
    padding-left: 20px;
    padding-right: 0;
}

.header--nav li svg:hover {
    transform: scale(1.05);
}

.banner {
    width: 100%;
    min-height: 500px;
    background-image: url("../../img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner--overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.3);
}

/*---- CARRINHO MODAL ----*/



/* -- produtos ---*/

.produtos--nav {
    padding: 20px 0;
}

.produtos--nav ul {
    display: flex;
    justify-content: center;
}

.produtos--nav li {
    color: var(--text-cor);
    font-size: 22px;
    margin-left: 8px;
    cursor: pointer;
}
.produtos--nav li:hover {
    color: rgb(17, 17, 17);
    font-weight: 600;
}

.produtos--nav li.select {
    border-bottom: 3px solid black;
}

.produtos--box {
    overflow: hidden;
}

.produtos--wraper {
    width: 100%;
    display: flex;
    min-height: 890px;
}

.produtos--itens {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.produtos--itens > .item {
    width: 25%;
    transform: scale(0.96);
    text-align: center;
    transition: 0.5s;
    
}

.produtos--itens > .item:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.99);
}

.produtos--itens > .item img {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
}

.produtos--itens > .item p {
    color: #8d8d8d;
}
.produtos--itens > .item .item--nome {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--text-cor);
    letter-spacing: 1.5px;
}

.produtos--paginacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos--paginacao ul {
    display: flex;
}

.produtos--paginacao  li {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.produtos--paginacao  li.selected {
    background-color: #ccc;
}

.produtos--paginacao  li:hover {
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
}

/* ------------ PAGINA PRODUTO ----------------*/

section.produto-single {
    padding-top: 100px;
}

.produto-single--box {
   display: flex;
}

.produto-single--img {
    width: 50%;
    min-height: 500px;
    background-color: #8d8d8d;
}

.produto-single--img img {
    width: 100%;
    height: 100%;
}


.produto-single--nome h1 {
    margin-bottom: 20px;
    font-size: 35px;
    color: #3d3d3d;
    letter-spacing: 1.5px;
}

.produto-single--info {
    width: 50%;
    padding: 0 20px;
}

.produto-single--info > div {
    margin-bottom: 20px;
}
.produto-single--info h3 {
    color: #3d3d3d;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.produto-single--info p {
    color: #505050;
}

.valores {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.valores .preco-pd {
    font-size: 24px;
    font-weight: bold;
}

.produto-single--imagens {
    border-top: 3px solid #ccc;
    margin-top: 20px;
    padding: 20px 0;
}

.produto-single--imagens img {
    width: 150px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    border: 2px solid transparent;
}

.produto-single--imagens img:hover {
    transition: 0.3s;
    cursor: pointer;
    transform: scale(0.96);
    border: 2px solid #585858;
}

.carrinho-btn_add {width: 50%;}
.carrinho-btn_add--button {
    background-color: #59b459;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.carrinho-btn_add--button:hover {
    transition: 0.2s;
    cursor: pointer;
    transform: scale(1.01);
}

.carrinho-btn_add span {
    padding-left: 8px;
    color: #202020;
}

/*--------------*/

.outros-produtos--box {
    padding: 30px 0;
    display: flex;
}

.outros-produtos--title {
    text-align: center;
}

.outros-produtos--title h2 {
    display: inline-block;
    position: relative;
    font-size: 30px;
}

.outros-produtos--title h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: #3d3d3d;
}

.outros-produtos .card {
    width: 25%;
    transform: scale(0.95);
    background-color: #fff;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgb(141, 141, 141);
    cursor: pointer;
}

.outros-produtos .card::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 15px;
    border-radius: 20px;
    background-color: #ccc;
}

.outros-produtos .card a {
    display: block;
    padding: 40px 15px 20px 15px;
    color: #505050;
}

.card--img {
    width: 100%;
    height: 300px;
    background-color: #ccc;
}

.card--img img {
    width: 100%;
    height: 100%;
}

.card--info {
    padding-top: 10px;
}

.card--info h3 {
    letter-spacing: 1.5px;
}

/* -- Footer --*/

footer .footer_wraper{
    border-top: 1px solid #ccc;
    padding: 10px 0;
    margin-top: 20px;
}

.footer_wraper p {
    display: flex;
    justify-content: space-between;
}

.footer_wraper p a:nth-of-type(2) {
    margin-left: 5px;
}

/*------------------------------------------*/

